<script type='text/javascript' src='${ctxPath}/js/jquery-3.1.0.min.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/bootstrap/js/bootstrap.min.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/metisMenu/js/metisMenu.min.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/custom/js/custom.min.js'></script>
<script type='text/javascript' src='${ctxPath}/js/json2.js'></script>
<script type='text/javascript' src='${ctxPath}/js/util.js'></script>
<script type='text/javascript'
        src='${ctxPath}/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'></script>
<script type='text/javascript'
        src='${ctxPath}/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/bootstrap-table/js/bootstrap-table.min.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js'></script>
<script type='text/javascript' src='${ctxPath}/plugins/bootstrap-select/js/bootstrap-select.js'></script>